# URL de l'API en production (sans slash final)
# Ex: https://pokeapi.chantierland.com
VITE_API_URL=https://pokeapi.chantierland.com

# URL du DynMap (mettre en HTTPS si votre frontend est en HTTPS)
# Ex: https://dynmap.chantierland.com
VITE_DYNMAP_URL=http://89.167.92.22:8123/
